# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=nhy8i4q9
NEXT_PUBLIC_SANITY_DATASET=production

# Token for preview / revalidation (if needed)
# Obtain this from manage.sanity.io -> API -> Tokens (Editor or Admin scope)
SANITY_API_READ_TOKEN=your-sanity-api-read-token

# Secret for revalidation webhook (matches what you configure in Sanity Webhook settings)
SANITY_WEBHOOK_SECRET=alhamd_reval_secret_2026

NEXT_PUBLIC_SITE_DOMAIN=localhost:3000
# EmailJS
EMAILJS_SERVICE_ID=your-emailjs-service-id
EMAILJS_TEMPLATE_ID=your-contact-form-template-id
EMAILJS_SERVICE_TEMPLATE_ID=your-service-booking-template-id
EMAILJS_PUBLIC_KEY=your-email-js-public-key
EMAILJS_PRIVATE_KEY=your-email-js-private-key

# Sanity
SANITY_API_WRITE_TOKEN=your-sanity-api-write-token

# Meta (Facebook) Pixel
NEXT_PUBLIC_META_PIXEL_ID=

